html {
    position: relative;
    min-height: 100%;
}

body {
    background-image:url("back.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: #EBEBEB;
    background-color:white;
}

.header{    
    background-size: cover;
    position: relative;
}

.navbar {
    background:#EBEBEB;
  }
  

#header {
    margin: 1em;
    padding: 0.3em 0.5em;
    border-left: 5px solid #888;
    border-bottom: 5px solid #888;
    color: #888;
}

#header h1 {
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: xx-large;
    color: white;

}

#header h1 .subtitle {
    font-size: x-large;
    color: white;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  }


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  color: black;
  /* Set the fixed height of the footer here */
  height: 30px;
}

#footer p {
  padding: 0;
  margin: 9px 0 0 0;
  font-size: 12px;
}

#content {
    width: 66%;
    margin: 0 auto;
}

.nav-link,
.navbar-brand {
  color: #000;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}